@page
@model ChartJS.Views.Population.IndexModel
@{
}

<h1>Population Controller</h1>
<h1>Yorkshire Population Example Charts</h1>
<div class="graph-wrapper" id="yorkshire-pop">
    <div class="graph-container">
        <canvas id="yorkshire-pop-bar-chart">
        </canvas>
    </div>
    <div class="graph-container">
        <canvas id="yorkshire-pop-pie-chart">
        </canvas>
    </div>
    <div class="graph-container">
        <canvas id="yorkshire-pop-doughnut-chart">
        </canvas>
    </div>
</div>

<script>

    // Data taken from www.citypopulation.de/en/uk/yorkshireandthehumber
    const popBarChart = $('#yorkshire-pop-bar-chart');
    const popPieChart = $('#yorkshire-pop-pie-chart');
    //const popDoughnutChart = $('#yorkshire-pop-doughnut-chart');
    const popDoughnutChart = $('#yorkshire-pop-doughnut-chart');

    var labelsArray = [
        "Sheffield",
        "Leeds",
        "Bradford",
        "Kingston upon Hull",
        "Huddersfield",
        "York",
        "Doncaster",
        "Wakefield",
        "Rotherham",
        "Barnsley",
    ];

    var dataArray = [
        525142, 515947, 370185, 295179, 167534, 156135, 113566, 109766,
        109675, 96888,
    ];

    new Chart(popBarChart, {
        type: 'bar', //bar, horinzontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: labelsArray,
            datasets: [{
                label: "Population",
                data: dataArray,
            }],
        },
        options: {},
    });

    new Chart(popPieChart, {
        type: 'pie',
        data: {
            labels: labelsArray,
            datasets: [{
                label: "Population",
                data: dataArray,
            }],
        },
        options: {},
    });

    new Chart(popDoughnutChart, {
        type: 'doughnut',
        data: {
            labels: labelsArray,
            datasets: [{
                label: "Population",
                data: dataArray,
            }],
        },
        options: {},
    });
</script>
